<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:appCategory="productivity"
        android:icon="@android:drawable/ic_menu_set_as"
        android:label="@string/app_name"
        android:manageSpaceActivity=".ClearActivity"
        android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar">

        <activity
            android:name=".PaymentSelector"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/payment_selector"
            android:launchMode="singleInstance"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:icon="@android:drawable/ic_input_add"
            android:label="@string/settings_activity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ClearActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@android:drawable/ic_dialog_alert"
            android:label="@string/clear_activity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>

    </application>

</manifest>
